<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.tanl.kitserver"/>
	<context:annotation-config/>
	<!--JDBC 配置文件-->
	<context:property-placeholder location="properties/jdbc.properties"/>

	<!--data source 数据库-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc_driverClassName}"/>
		<property name="url" value="${jdbc_url}"/>
		<property name="username" value="${jdbc_username}"/>
		<property name="password" value="${jdbc_password}"/>
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize}"/>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive}"/>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle}"/>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle}"/>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait}"/>
	</bean>

	<!-- 配置SqlMapClient对象 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:conf/SqlMapConfig.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!--根据sqlMapClien创建一个SqlMapClient模版类-->
	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>

	<!--数据层处理对象-->
	<bean id="userDao" class="com.tanl.kitserver.dao.impl.UserDaoImp" autowire="byName"/>







	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>


	<!-- 启动spring事务注解，事务注解尽在此 -->
	<!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
	<!-- 配置事务特性 -->
	<!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
		<!--<tx:attributes>-->
			<!--<tx:method name="select*" read-only="true" propagation="REQUIRED"/>-->
			<!--<tx:method name="find*" read-only="true" propagation="REQUIRED"/>-->
			<!--<tx:method name="save*" propagation="REQUIRED" isolation="REPEATABLE_READ"/>-->
			<!--<tx:method name="update*" propagation="REQUIRED" isolation="REPEATABLE_READ"/>-->
			<!--<tx:method name="add*" propagation="REQUIRED" isolation="REPEATABLE_READ"/>-->
			<!--<tx:method name="delete*" propagation="REQUIRED" isolation="REPEATABLE_READ"/>-->
			<!--<tx:method name="*" read-only="true"/>-->
		<!--</tx:attributes>-->
	<!--</tx:advice>-->
	<!-- 配置事务代理拦截器 -->
	<!--<bean id="baseTransactionProxy" abstract="true"-->
	      <!--class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">-->
		<!--<property name="transactionManager">-->
			<!--<ref bean="transactionManager"/>-->
		<!--</property>-->
		<!--<property name="transactionAttributes">-->
			<!--<props>-->
				<!--<prop key="insert*">PROPAGATION_REQUIRED</prop>-->
				<!--<prop key="update*">PROPAGATION_REQUIRED</prop>-->
				<!--<prop key="delete*">PROPAGATION_REQUIRED</prop>-->
				<!--<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->

</beans>